.dropdownContainer {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.dropdown {
  background-color: var(--item-background-color);
  /* border-radius: 4px; don't set this property, the os sets it*/
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font;
  font-size: 15px;
  border-style: solid; /*this was causing that weird diagonal split in colour*/
  outline: none;
  flex-grow: 2;
}

.dropdownLabel {
  color: var(--text-color);
  white-space: nowrap;
  min-width: 25%;
  margin: 10px;
}

.dropdown option {
  background-color: var(--background-color);
}
