:root {
  --background-color: rgb(40, 40, 40);
  --border-radius: 20px;
  --tint-color: red;
  --text-color: white;
  --item-border-width: 3px;
  --item-background-color: transparent;
  --hover-color: rgba(255, 0, 0, 0.5);
  --clicked-text-color: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: youtube-font-title;
  src: url("./assets/fonts/tradeGothicBoldCondensed.ttf");
}
@font-face {
  font-family: youtube-font;
  src: url("./assets/fonts/tradeGothicNormal.ttf");
}

body {
  font-family: youtube-font;
  background-color: var(--background-color);
}
