:root {
  --border-radius: 10px;
  --tint-color: red;
  --text-color: white;
  --big-border-width: 3px;
  --big-background-color: transparent;
  --hover-color: rgba(255, 0, 0, 0.5);
}

@font-face {
  font-family: youtube-font;
  src: url("./assets/fonts/tradeGothicLTBoldCondensed.ttf");
}

body {
  font-family: youtube-font;
  background-color: rgb(40, 40, 40);
}
