#wordFinderControls {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  /* width: 100%; */
  /* background-color: green; */
}

#wordFinderText {
  display: flex;
  justify-content: space-between;
}

/* .reloadButton {
  font-size: 40px;
} */
