.wordOptionList {
  background-color: transparent;
  list-style: none;
  padding-left: 0;
}

.addRowTop {
  bottom: -17px;
  padding-left: 7px;
}

.smallColumnHeadingLabel {
  font: youtube-font;
  color: white;
  left: 275px;
  top: 25px;
  font-size: 10px;
  position: absolute;
}

#wordOptionsPageId {
}
