.fadeIn {
  z-index: 2;
  position: fixed;
  background-color: var(--background-color);
  width: 150vw;
  height: 150vh;
  -webkit-animation: fade 0.5s;
  pointer-events: none;
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
