.homePageContainer {
  display: flex;
  background-color: transparent;
  height: 80vh;
}

.homePageRightSide {
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.homePageLeftSide {
  background-color: transparent;
  flex: 2;
}
