.bigButton:hover,
.smallButton:hover,
.mediumButton:hover,
.emojiButton:hover {
  border-color: var(--hover-color);
}

.bigButton:active,
.smallButton:active,
.mediumButton:active,
.emojiButton:active {
  color: var(--clicked-text-color);
}

.bigButton {
  background-color: var(--item-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font-title;
  font-size: 25px;
  cursor: pointer;
  outline: 0px;
  margin: 10px;
  padding: 10px;
  transition: 0.2s;
  border-style: solid; /*this was causing that weird diagonal split in colour*/
  white-space: nowrap;
}

.mediumButton {
  background-color: var(--item-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font;
  font-size: 15px;
  cursor: pointer;
  outline: 0px;
  margin: 10px;
  padding: 10px;
  transition: 0.2s;
  border-style: solid;
  white-space: nowrap;
}

.smallButton {
  background-color: var(--item-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font;
  font-size: 15px;
  cursor: pointer;
  outline: 0px;
  margin: 10px;
  padding-left: 7px;
  padding-right: 7px;
  transition: 0.2s;
  border-style: solid;
  white-space: nowrap;
}

.emojiButton {
  background-color: var(--item-background-color);
  border: 0;
  color: var(--text-color);
  font-size: 15px;
  cursor: pointer;
  outline: 0px;
  margin-top: -5px;
  margin-bottom: -5px;
  transition: 0.2s;
  border-style: solid;
}
#etggamesButton {
  background-color: transparent;
  border: 0;
  outline: 0px;
  border-style: solid;
}
#etggamesImage {
  width: 40px;
  height: 40px;
  z-index: 2;
  position: fixed;
  top: 20px;
  right: 20px;
}
