.bigButton {
  background-color: var(--item-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font-title;
  font-size: 25px;
  cursor: pointer;
  outline: 0px;
  margin: 10px;
  padding: 10px;
  transition: 0.2s;
  border-style: solid; /*this was causing that weird diagonal split in colour*/
}
.bigButton:hover {
  border-color: var(--hover-color);
}

.bigButton:active {
  color: var(--clicked-text-color);
}

.smallButton {
  background-color: var(--item-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font;
  font-size: 15px;
  cursor: pointer;
  outline: 0px;
  margin: 10px;
  padding: 10px;
  transition: 0.2s;
  border-style: solid;
}

.smallButton:hover {
  border-color: var(--hover-color);
}

.smallButton:active {
  color: var(--clicked-text-color);
}
