.consoleOutput {
  background-color: var(--big-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--big-border-width);
  resize: none;
  outline: 0px;
  margin: 10px;
  padding: 10px;

  height: 100%;
}
.consoleOutput::-webkit-scrollbar {
  display: none;
}
