.wordOptionRow {
  display: flex;
  margin: 10px;
  /* margin-left: -35px; */
  background-color: transparent;
}

.wordOptionTextBox {
  flex: 1;
  height: 30px;
}

.addRowButton {
  position: relative;
  bottom: -20px;
}

.altWordList {
  list-style: none;
  padding-left: 0;
}

.scrollArea {
  overflow-x: auto;
  white-space: nowrap;
}
.scrollArea::-webkit-scrollbar {
  height: 5px;
  background-color: transparent;
}
.scrollArea::-webkit-scrollbar-thumb {
  background-color: var(--tint-color);
  border-radius: 4px;
}

.suggestedWordAlternativeButton {
  margin: 2px;
}
