.wordOptionRow {
  display: flex;
  margin: 10px;
  /* margin-left: -35px; */
  background-color: transparent;
}

.wordOptionRowContainer {
  display: flex;
  flex-direction: column;
}

.wordOptionTextBox {
  flex: 1;
  height: 30px;
}

.altWordTextBox {
  height: 15px;
  width: 70px;
  margin: 5px;
}

.addRowButton {
  position: relative;
  bottom: -17px;
  margin-left: 12.5px;
}

.altWordList {
  list-style: none;
  padding-left: 0;
}

.scrollArea {
  overflow-x: auto;
  white-space: nowrap;
}
.scrollArea::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
}
.scrollArea::-webkit-scrollbar-thumb {
  background-color: var(--tint-color);
  border-radius: 4px;
}

.suggestedWordAlternativeButton {
  margin: 2px;
}
.suggestedWordAlternativeButton:hover {
  border-color: white;
}

.usedWordAlternativeButton,
.clearAlternativesButton {
  border-color: white;
  margin: 2px;
  font-size: 10px;
}

.clearAlternativesButton {
  border-color: red;
}

#altWordsBeingUsed {
  overflow-x: auto;
  margin-left: 45px;
}

.lineSeparator {
  width: 80%;
  height: 1px;
  background-color: white;
  border: none;
  border-radius: 100px;
}

.separatorContainer {
  /* margin-top: -21px; */
}
