.wordOptionRow {
  display: flex;
  margin: 10px;
  /* margin-left: -35px; */
  background-color: transparent;
}

.wordOptionTextBox {
  flex: 1;
}

.addRowButton {
  position: relative;
  bottom: -14px;
}

.scrollArea {
  overflow-x: auto;
  white-space: nowrap;
}
.scrollArea::-webkit-scrollbar {
  display: none;
}
