.textBoxContainer {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.textBox {
  background-color: var(--item-background-color);
  border-radius: var(--border-radius);
  border-color: var(--tint-color);
  border-width: var(--item-border-width);
  color: var(--text-color);
  font-family: youtube-font;
  font-size: 15px;
  padding-left: 7px;
  border-style: solid; /*this was causing that weird diagonal split in colour*/
  outline: none;

  flex-grow: 2;
}

.textBoxLabel {
  width: 20%;
  color: var(--text-color);
  margin: 10px;
}
